<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Quantified Self</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.all.min.css')}}">
        <script src="{{ url_for('static', filename='js/fontawesome.all.min.js')}}"></script>
    </head>
    <body class="bg-light">
        {% include 'components/messages.html' %}

        <div class="container">
            <p>Hello {{ user.username }}!</p>
        </div>

        <div class="container">
            <a href="/trackers">Tracker</a>
        </div>

        <div class="container">
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/messages.js')}}"></script>
    </body>
</html>
