<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Tracker - Quantified Self</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.all.min.css')}}">
        <script src="{{ url_for('static', filename='js/fontawesome.all.min.js')}}"></script>
    </head>
    <body>
        {% include 'components/messages.html' %}
        {% include 'components/navbar.html' %}

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center p-4">
                    <div class="card flex-fill">
                        <form action="" method="POST">
                            <div class="card-header">Add Tracker</div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="t_name" class="form-label">Tracker Name</label>
                                    <input type="text" class="form-control" id="t_name" name="t_name" maxlength="64" required>
                                </div>
                                <div class="mb-3">
                                    <label for="t_desc" class="form-label">Tracker Description</label>
                                    <textarea rows="5" class="form-control" id="t_desc" name="t_desc" maxlength="256"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="t_type" class="form-label">Tracker Type</label>
                                    <select id="t_type" name="t_type" class="form-select" onchange="setTypeOptions(this);" required>
                                        <option value="" selected hidden disabled>Choose Tracker Type</option>
                                        {% for tracker_type in tracker_types %}
                                        <option value="{{ tracker_type.tt_id }}">{{ tracker_type.tt_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="t_unit_block"></div>
                                <input type="hidden" id="to_total" name="to_total" value="0">
                                <div id="t_options"></div>
                                <div id="t_options_control" class="d-flex justify-content-center d-none">
                                    <button id="t_options_add" class="btn btn-primary mx-1" onclick="addOption(); return false;">Add Option</button>
                                    <button id="t_options_rem" class="btn btn-danger mx-1" onclick="remOption(); return false;" disabled>Remove Option</button>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-center align-items-end">
                                <input type="reset" class="btn btn-primary mx-1" value="Reset" onclick="resetForm();">
                                <input type="submit" class="btn btn-primary mx-1" value="Add Tracker">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/add_tracker.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/messages.js')}}"></script>
    </body>
</html>
