<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit {{ tracker.t_name }} Tracker - Quantified Self</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.all.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css')}}">
        <script src="{{ url_for('static', filename='js/fontawesome.all.min.js')}}"></script>
    </head>
    <body>
        {% include 'components/messages.html' %}

        <div class="container">
            <form action="" method="POST">
                <p>
                    <label for="t_name">Tracker Name:</label>
                    <input type="text" id="t_name" name="t_name" maxlength="64" value="{{ tracker.t_name }}" required>
                </p>
                <p>
                    <label for="t_desc">Tracker Description:</label>
                    <textarea rows="5" id="t_desc" name="t_desc" maxlength="256">{{ tracker.t_desc }}</textarea>
                </p>
                <p>
                    <div style="display: inline-block;">
                        <label for="t_type">Tracker Type:</label>
                        <select id="t_type" disabled>
                            <option>{{ tracker.t_type_name.tt_name }}</option>
                        </select>
                    </div>
                    <div id="t_unit_block" style="display: inline-block;">
                        {% if tracker.t_type_name.tt_name == "Integer" or tracker.t_type_name.tt_name == "Decimal" %}
                        <label for="t_unit">Unit:</label>
                        <input type="text" id="t_unit" name="t_unit" maxlength="16" value="{{ tracker.t_unit.tu_name }}" required>
                        {% endif %}
                    </div>
                </p>
                <div id="t_options_exist">
                    {% if tracker.t_options | length > 0 %}
                    Existing Options:
                    <br>
                    Tooltip: Warning: Deletion of existing options will result in change or even deletion of current logs
                    {% endif %}
                    {% for option in tracker.t_options %}
                    <div>
                        <label for="t_option_exist[{{ option.to_id }}]">Option {{ loop.index }}:</label>
                        <input type="text" id="t_option_exist[{{ option.to_id }}]" name="t_option_exist[{{ option.to_id }}]" maxlength="64" value="{{ option.to_name }}" required>
                        <button onclick="/*alert('This feature will be added soon!'); return false;*/ remOptionExist(this); return false;">Delete Option</button>
                    </div>
                    {% endfor %}
                </div>
                <input type="hidden" id="to_total" name="to_total" value="0">
                <div id="t_options"></div>
                <p id="t_options_control"{% if tracker.t_options %} style="display: block;"{% else %} style="display: none;"{% endif %}>
                    <button id="t_options_add" onclick="addOption(); return false;">Add Option</button>
                    <button id="t_options_rem" onclick="remOption(); return false;" disabled>Remove Option</button>
                </p>
                <p>
                    <input type="reset" value="Reset" onclick="window.location.reload();">
                    <input type="submit" value="Edit Tracker">
                </p>
            </form>
        </div>

        <script src="{{ url_for('static', filename='js/edit_tracker.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/messages.js')}}"></script>
    </body>
</html>
