<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ tracker.t_name }} Tracker - Quantified Self</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.all.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css')}}">
        <script src="{{ url_for('static', filename='js/fontawesome.all.min.js')}}"></script>
    </head>
    <body>
        {% include 'components/messages.html' %}

        <div class="container">
            <div>ID: {{ tracker.t_id }}</div>
            <div>Name: {{ tracker.t_name }}</div>
            <div>Description: {{ tracker.t_desc }}</div>
            <div>Type: {{ tracker.t_type }}</div>
            <div>Type Name: {{ tracker.t_type_name.tt_name }}</div>
            <div>Unit: {{ tracker.t_unit }}</div>
            <div>Options: {{ tracker.t_options }}</div>
        </div>

        <div class="container">
            <a href="/trackers/edit?id={{ tracker.t_id }}" class="btn btn-primary">Edit Tracker</a>
            <form action="" method="POST" style="display: inline;">
                <input type="hidden" name="action" value="1">
                <button type="submit" class="btn btn-danger">Delete Tracker</button>
            </form>
        </div>

        <div class="container">
            <form action="" method="POST">
                <input type="hidden" name="action" value="2">
                <p>
                    <label for="tl_time">Time:</label>
                    <input type="datetime-local" id="tl_time" name="tl_time" required>
                </p>
                <p>
                    <label for="tl_note">Note:</label>
                    <textarea rows="5" id="tl_note" name="t_desc" maxlength="256"></textarea>
                </p>
                {% if tracker.t_type_name.tt_name == "Boolean" %}
                <label for="tl_val">Value:</label>
                <select id="tl_val" name="tl_val" required>
                    <option value="1" selected>Yes</option>
                    <option value="0">No</option>
                </select>
                {% elif tracker.t_type_name.tt_name == "Integer" %}
                <label for="tl_val">Value:</label>
                <input type="number" step="1" id="tl_val" name="tl_val" required>{{ tracker.t_unit.tu_name }}
                {% elif tracker.t_type_name.tt_name == "Decimal" %}
                <label for="tl_val">Value:</label>
                <input type="number" step="0.01" id="tl_val" name="tl_val" required>{{ tracker.t_unit.tu_name }}
                {% elif tracker.t_type_name.tt_name == "Duration" %}
                <label for="tl_val_h">Hours:</label>
                <input type="number" step="1" min="0" max="100" id="tl_val_h" name="tl_val_h" value="0" required>
                <label for="tl_val_m">Minutes:</label>
                <input type="number" step="1" min="0" max="59" id="tl_val_m" name="tl_val_m" value="0" required>
                <label for="tl_val_s">Seconds:</label>
                <input type="number" step="1" min="0" max="59" id="tl_val_s" name="tl_val_s" value="0" required>
                {% elif tracker.t_type_name.tt_name == "Single Select" %}
                <label for="tl_val">Value:</label>
                <select id="tl_val" name="tl_val" required>
                    <option value="" selected hidden disabled>Choose Option</option>
                    {% for option in tracker.t_options %}
                    <option value="{{ loop.index0 }}">{{ option.to_name }}</option>
                    {% endfor %}
                </select>
                {% elif tracker.t_type_name.tt_name == "Multi Select" %}
                {% for option in tracker.t_options %}
                <input type="checkbox" name="t_val[{{ loop.index0 }}]">
                <label for="t_val[{{ loop.index0 }}]">{{ option.to_name }}</label><br>
                {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-primary">Add Log</button>
            </form>
        </div>

        <script src="{{ url_for('static', filename='js/add_log.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/messages.js')}}"></script>
    </body>
</html>
