<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register - Quantified Self</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    </head>
    <body>
        {% include 'components/messages.html' %}

        <section class="vh-100 bg-light">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <h3 class="mb-5">Register</h3>
                                <form action="" method="POST">
                                    <div class="form-group mb-4">
                                        <input type="text" minlength="4" maxlength="64" class="form-control form-control-lg" name="username" placeholder="Username" required>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="password" minlength="4" maxlength="64" class="form-control form-control-lg" name="password" placeholder="Password" required>
                                    </div>
                                    <input type="submit" value="Register" class="btn btn-lg btn-block btn-primary">
                                </form>
                                <hr class="my-4">
                                <a href="/login{% if request.args.get('next', None) %}?next={{ request.args.get('next') }}{% endif %}" class="btn btn-lg btn-block btn-primary">Already registered?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/messages.js')}}"></script>
    </body>
</html>
